<!--navigation bar-->
<app-nav-bar></app-nav-bar>

<!--content container-->
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer-switched-off">
  <a routerLink="/dorms">
    Гуртожитки
  </a>
  <a routerLink="/forum">
    Форум
  </a>
  <a routerLink="/request_admission">
    Запит на поселення
  </a>

  <p align="center">
    <small>
      Гуртожиткі такі дешеві, бо ніхто не платить адмінам сайту. <br>
      Щоби дізнатися про вільні місця, телефонуйте.
    </small>
  </p>
  <p>
    Телефон для довідок: +38 (032) 271-21-33
  </p>
</footer>
