<main>
  <h2>Welcome to the dorm forum!</h2>

  <p>This is the main place for the dormitories' residents and staff to discuss issues, share news, or just socialize.</p>

  <p>To join the conversation, select any of the forum sections below. You need to have a dormitory account to open threads or to send replies.</p>

<!--  section list-->
  <section>
    <header>
      <h3>
        Sections
      </h3>

      <h4 id="section-header-threads">
        Threads
      </h4>

      <h4 id="section-header-last-reply">
        Last reply
      </h4>
    </header>

    <article class="forum-section"
             *ngFor="let forumSection of forumSections;">
      <i class="forum-icon material-icons md-36 lnu-navy">forum</i>

      <a routerLink="/forum/section/{{forumSection.id}}">
        <h3 id="section-title">
          {{ forumSection.sectionTitle }}
        </h3>
      </a>

      <p id="section-description">
        {{ forumSection.sectionDescription }}
      </p>

      <p id="section-num-of-threads">
        {{ forumSection.numberOfThreads }}
      </p>

      <p id="section-last-reply"
          *ngIf="forumSection.lastReply">
        {{ forumSection.lastReply | date:'medium' }}
      </p>
    </article>
  </section>

  <p *ngIf="isInProgress">Loading sections...</p>

</main>
