<main>
  <h2>Ласкаво просимо у фонд гуртожитків Львівського національного університету!</h2>
  <p>
    Цей сайт розроблений студентами для студентів, а отже, саме тут ви знайдете всю правду про наші «общаги».
    Не треба шукати квартиру та віддавати господарям всю стипендію, коли рідний універ має стільки гуртожитків.
    Не зволікайте та <a href="/request_admission">заселяйтесь</a>!
  </p>
  <ul>
    <li>2 гуртожитки поряд із легендарною <a href="https://uk.wikipedia.org/wiki/Медова_печера">Медовою печерою</a></li>
    <li>4 гуртожитки на межі мальовничого <a href="https://uk.wikipedia.org/wiki/Парк_«Погулянка»">лісопарку «Погулянка»</a></li>
    <li>1 гуртожиток у тихій місцевості <a href="https://uk.wikipedia.org/wiki/Голоско">Голоско</a></li>
    <li>1 елітний гуртожиток у самісінькому центрі міста</li>
  </ul>
  <ul style="margin-left: 3em;">
    <li>Демократичні ціни</li>
    <li>Американська мрія: long commute to work</li>
    <li>Веселі сусіди</li>
    <li>Ручні тарганчики</li>
    <li>Спортзали</li>
    <li>Загартування холодною водою</li>
    <li>Школа виживання</li>
  </ul>
</main>
