<section>
  <h1>List of dormitories</h1>

  <article *ngFor="let dorm of dorms;">

    <h3>Dormitory #{{ dorm.number }}</h3>

    <p>
      Address: {{ dorm.address }}
    </p>

    <p>
      Phone: {{ dorm.phoneNumber }}
    </p>

    <button class="detail" [routerLink]="['/mockDorms', dorm.id]">
      Details
    </button>

  </article>
</section>

<!-- Disqus comments -->
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

