<button *ngIf="!openAsMap" (click)="showOnMap()">
  SHOW AS MAP
</button>

<button *ngIf="openAsMap" (click)="showOnMap()">
  SHOW AS LIST
</button>

<agm-map *ngIf="openAsMap"
         [latitude]="49.8860354"
         [longitude]="23.9922207"
         [zoomControl]="true">
  <agm-marker
    *ngFor="let m of dorms; let i = index"
    (markerClick)="clickedMarker(m.location.address, i)"
    [latitude]="m.location.lat"
    [longitude]="m.location.lng"
    [label]="m.location.name">

    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>

  </agm-marker>

</agm-map>

<section *ngIf="!openAsMap">

  <article *ngFor="let dorm of dorms;"
           (click)="openDormDetailsPage()">

    <h3>Dormitory #{{ dorm.number }}</h3>

    <p>
      Address: {{ dorm.location.address }}
    </p>

    <p>
      Phone: {{ dorm.phoneNumber }}
    </p>

    <button class="detail" [routerLink]="['/mockDorms', dorm.id]">
      Details
    </button>

  </article>
</section>

<!-- Disqus comments -->
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

