<button *ngIf="!openAsMap" (click)="showOnMap()"
        class="map-list-button">
  SHOW AS MAP
</button>

<button *ngIf="openAsMap" (click)="showOnMap()"
        class="map-list-button">
  SHOW AS LIST
</button>

<agm-map *ngIf="openAsMap"
         [latitude]="initialLat"
         [longitude]="initialLng"
         [zoomControl]="true"
         [zoom]="zoomLevel">
  <agm-marker
    *ngFor="let m of dorms; let i = index"
    (markerClick)="clickedMarker(m.address, i)"
    [latitude]="m.latitude"
    [longitude]="m.longitude"
    [label]="m.number">

    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>

  </agm-marker>

</agm-map>

<section *ngIf="!openAsMap">

  <article class="dorm-article"
           *ngFor="let dorm of dorms;">

    <h3 id="dorm-name">Dormitory #{{ dorm.number }}</h3>

    <p id="dorm-address" (click)="showDormOnMap(dorm)">
      {{ dorm.address }}
    </p>

<!--    <div id="rating-container">-->
<!--      <h3 id="dorm-rating-positive">-->
<!--        {{dorm.rating.positive}} +-->
<!--      </h3>-->

<!--      <h3 id="dorm-rating-negative">-->
<!--        {{dorm.rating.negative}} - -->
<!--      </h3>-->
<!--    </div>-->

    <p id="dorm-phone">
      +{{ dorm.phoneNumber }}
    </p>

    <img class="dorm-image" [src]="dorm.mainImageUrl">

    <button class="detail" [routerLink]="['/mockDorms', dorm.id]">
      Details
    </button>

    <div id="divider">

    </div>
  </article>
</section>


