main {
  padding: 24px;
}
.google_form {
  float: right;
}
#colculator {
  margin: 0 1em 0.5em 0;
  float: left;
  width: fit-content;
  border: 5px solid #002561;
  border-radius: 10px;
  padding: 1em;
}
#button_calculate {
  font-size: 1.2em;
}
div.total_price {
  background-color: lightgrey;
  padding-left: 1em;
  border-radius: 2px;
}
