<main>
  <h2>Create a new thread</h2>

  <p>Please enter your question and a description for it below, to help other people better address your concern.</p>

  <p class="error-msg" *ngIf="errorMessage">{{errorMessage}}</p>

  <form [formGroup]="newThreadForm"
    (ngSubmit)="addThread()">
    <label>
      Name:
      <input placeholder="Enter thread name" maxlength="128" formControlName="threadName" required>
    </label>

    <label id="new-thread-content-label">
      Content:
      <textarea type="text" rows="10" maxlength="1024" placeholder="Enter content" formControlName="threadContent" required></textarea>
    </label>

    <button type="submit" class="detail">
      Create thread
    </button>
  </form>
</main>
