<main>

  <section>
    <header>
      <h3>
        Thread
      </h3>

      <a *ngIf="isSignedIn" id="reply-to-thread"> >> Reply to this thread</a>
    </header>

    <!-- thread content-->
    <article id="thread-content">
      <div class="user-info">

        <a><h3>{{ displayedThread.user.userName }}</h3></a>

        <img src="{{displayedThread.user.photoUrl}}">

        <p *ngIf="displayedThread.user.isAdmin">Administrator</p>
        <p *ngIf="!displayedThread.user.isAdmin">Resident</p>
      </div>

      <div class="reply-content">
        <h4>Posted on {{displayedThread.created | date: "medium"}}</h4>

        <p>{{displayedThread.content}}</p>
      </div>
    </article>

    <!--  thread replies-->
    <article class="thread-reply"
             *ngFor="let reply of displayedThread.replies;">

    </article>
  </section>

</main>
