<main>

  <section>
    <header>
      <h3>
        Thread
      </h3>

      <a *ngIf="isSignedIn" id="reply-to-thread"
         [routerLink]="['/forum/thread_reply']"
         [queryParams]="{threadId: displayedThread?.id}"> >> Reply to this thread</a>
    </header>

    <!-- thread content-->
    <article id="thread-content"
      *ngIf="displayedThread">
      <div class="user-info">

        <a><h3>{{ displayedThread.author.userName }}</h3></a>

        <img src="{{ displayedThread.author.photoUrl }}"
             *ngIf="displayedThread.author.photoUrl">
        <img src="assets/images/account_circle-black-48dp.svg"
             *ngIf="!displayedThread.author.photoUrl">

        <p *ngIf="displayedThread.author.isAdmin">Administrator</p>
        <p *ngIf="!displayedThread.author.isAdmin">Resident</p>
      </div>

      <div class="reply-content">
        <h4>Posted on {{displayedThread.creationDate | date: "medium"}}</h4>

        <p>{{displayedThread.threadBody}}</p>
      </div>
    </article>


  </section>

  <section id="replies">
    <header>
      <h4>
        Replies
      </h4>
    </header>
    <!--  thread replies-->
    <article class="thread-reply"
             *ngFor="let reply of displayedThread?.replies;">

      <div class="user-info">

        <a><h3>{{ reply.author.userName }}</h3></a>

        <img src="{{reply.author.photoUrl}}">

        <p *ngIf="reply.author.isAdmin">Administrator</p>
        <p *ngIf="!reply.author.isAdmin">Resident</p>
      </div>

      <div class="reply-content">
        <h4>Posted on {{reply.creationDate | date: "medium"}}</h4>

        <!--quote content-->
        <div *ngIf="reply.parentForumThreadReply" class="reply-quote">
          <h5>Posted by {{ reply.parentForumThreadReply.author.userName }} on {{ reply.parentForumThreadReply.creationDate | date: "medium" }}:</h5>

          <q>{{reply.parentForumThreadReply.replyBody}}</q>
        </div>

        <p>{{reply.replyBody}}</p>

        <div class="reply-action-panel"
            *ngIf="isSignedIn">
          <a [routerLink]="['/forum/thread_reply']"
             [queryParams]="{threadId: displayedThread.id, quoteId: reply.id}">
            <i class="quote-icon material-icons md-36 gray">comment</i>
          </a>
        </div>
      </div>

    </article>
  </section>
</main>
